
.spin{
	  animation-name: spin;
    animation-duration: 3s;
    //animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}
.spin1{
	  animation-name: spin;
    animation-duration: 4s;
    //animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}
.spin2{
	  animation-name: spin;
    animation-duration: 5s;
    //animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}
.spin3{
	  animation-name: spin;
    animation-duration: 6s;
    //animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}
.spin4{
	  animation-name: spin;
    animation-duration: 7s;
    //animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}
.spin5{
	  animation-name: spin;
    animation-duration: 8s;
    //animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}
.spin6{
	  animation-name: spin;
    animation-duration: 9s;
    //animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}
.spin7{
	  animation-name: spin;
    animation-duration: 3s;
   // animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}
.spin8{
	  animation-name: spin;
    animation-duration:4s;
   // animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}
.spin9{
	  animation-name: spin;
    animation-duration:5s;
   // animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}
.spin10{
	  animation-name: spin;
    animation-duration: 6s;
    //animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}
.spin11{
	  animation-name: spin;
    animation-duration: 7s;
    //animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}
.spin12{
	  animation-name: spin;
    animation-duration: 8s;
    //animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}
.spin13{
	  animation-name: spin;
    animation-duration: 9s;
    //animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}

@keyframes spin {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
}